@use "theme" as *;
@use "sass:color";

.quicksettings {
  background-color: $bg;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $fg;
  margin: 5px;

  .title {
    margin: 0 80px; // Controls the size of the widget
  }

  .button,
  .power-btn,
  .power-settings-btn,
  .toggle-button,
  .settings {
    image {
      -gtk-icon-size: 1.5rem;
    }

    min-height: 40px;
    min-width: 40px;
    background-color: $button;
    border-radius: 8px;

    &:hover {
      background-color: $button-hover;
    }

    &.on {
      background-color: $button-on;

      &:hover {
        background-color: $button-on-hover;
      }
    }

    &.power-settings-btn {
      // Only for buttons in power settings
      padding: 0 8px;
    }
  }

  .toggle-button.off {
    background-color: $button-off;
  }

  .power-settings {
    padding-top: 8px;
  }

  .page-button {

    image {
      -gtk-icon-size: 1.5rem;
    }

    .toggle,
    .open {
      background-color: $button;
      padding: 8px;

      &:hover {
        background-color: $button-hover;
      }
    }

    .toggle {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      &.off {
        background-color: $button-off;
      }
    }

    .open {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }


    .title {
      font-size: 1.5rem;
    }

    .name {
      font-size: 0.8rem;
    }

  }

  // Page
  .page {
    .entry-box {
      border-radius: 8px;
      background-color: $bg2;

      // The entry with the name and symbols
      .entry {
        border-radius: 8px;
        padding: 4px;
        padding-left: 8px;

        &:hover {
          background-color: $button-off;
        }

        &.active {
          background-color: $button-off;

          &:hover {
            background-color: $button;
          }
        }

        &.known {
          background-color: $button-off_2;

          &:hover {
            background-color: $button-off;
          }
        }
      }

      // Button for stuff like connect, forget, pair
      .options-box {
        margin: 8px;

        .option-btn {
          background-color: $button;
          border-radius: 8px;
          margin: 0 16px;

          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }

    .header {
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;

      .open-settings,
      .rescan-wifi {
        min-height: 30px;
        min-width: 30px;
        background-color: $button;
        border-radius: 8px;

        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }

  .audio-slider {
    background-color: $bg2;
    border-radius: 8px;

    .scale-box {
      .icon {
        -gtk-icon-size: 1.3rem;
      }

      padding: 8px;
    }

    .audio-sinks {
      background-color: $bg3;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 8px;

      .entry {
        border-radius: 8px;
        padding: 4px;
        padding-left: 8px;

        &:hover {
          background-color: $button-off;
        }

        &.active {
          background-color: $button-off;

          &:hover {
            background-color: $button;
          }
        }
      }
    }
  }
}
